<a href="https://colab.research.google.com/github/mkirby1995/NLP/blob/master/Jobz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [2]:
jobs_csv = 'https://raw.githubusercontent.com/mkirby1995/NLP/master/jobs.csv'
df = pd.read_csv(jobs_csv)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15216 entries, 0 to 15215
Data columns (total 5 columns):
job_title    15216 non-null object
company      15216 non-null object
location     15216 non-null object
summary      15216 non-null object
state        13613 non-null object
dtypes: object(5)
memory usage: 594.5+ KB

In [3]:
df['state'].value_counts()

TX    13613
Name: state, dtype: int64

In [0]:
df = df.where(df['state'] == 'TX')

In [6]:
df['location'].value_counts()

Dallas, TX               5701
Irving, TX               3311
Fort Worth, TX           1282
Plano, TX                1174
Richardson, TX            679
Addison, TX               405
Arlington, TX             404
Lewisville, TX            192
Dallas-Fort Worth, TX     139
Grand Prairie, TX          67
Coppell, TX                49
Southlake, TX              41
Farmers Branch, TX         36
McKinney, TX               34
Carrollton, TX             33
Flower Mound, TX           25
Hurst, TX                  16
Garland, TX                13
Frisco, TX                  6
Denton, TX                  6
Name: location, dtype: int64

In [7]:
df['company'].value_counts()

Verizon                                            1482
Burns & McDonnell                                   982
Deloitte                                            946
Christus Health                                     847
S5 Stratos                                          744
KPMG                                                628
ITL USA                                             533
JP Morgan Chase                                     366
NT Concepts                                         353
s•com                                               311
ASSURANCE Independent Agents                        305
Stellargy Services LLC                              199
UT Southwestern Medical Center                      179
Methodist Hospital for Surgery                      179
JUUL Labs                                           175
HDR                                                 153
Roth Technical Specialties Inc                      140
GM Financial                                        128
Epsilon                                             125
Quisitive                                           122
Capital One                                         119
BAIR                                                107
AUTHENTIX INC                                       104
Bank of America                                     102
Amazon Web Services, Inc.                            95
Pieces Technologies                                  90
USAA                                                 89
Baylor Scott & White Health                          87
Goldman Sachs                                        85
Broadcom                                             82
                                                   ...
HCA Healthcare                                        6
CEO Foundry                                           6
Air Liquide                                           6
Analytical Mechanics Associates, Inc.                 5
Artis Consulting                                      5
Harris Corporation                                    5
Hanley Wood                                           5
Intelligroup Inc                                      5
Lexipol                                               5
Triumph Group, Inc.                                   5
TopGolf                                               5
Hewlett Packard Enterprise                            5
Advithri Technologies                                 4
Ryder                                                 4
OneMain Financial                                     4
Novartis                                              4
DataMedical Technology                                4
L&T Technology Services Ltd.                          4
Data Ninjas Inc                                       4
Calance US                                            3
Intuit                                                3
Cardinal Health                                       3
Nissan                                                3
Life Time                                             3
Probe Technology Services, Inc.                       2
HealthTrackRx                                         2
Lockheed Martin Corporation                           1
University of North Texas                             1
FC DALLAS, Major League Soccer & Toyota Stadium       1
Pattonair                                             1
Name: company, Length: 253, dtype: int64

In [8]:
df['job_title'].value_counts()

Data Scientist                                                                                                      2660
Senior Data Scientist                                                                                                913
Data Scientist/Statistician (Statistical Modeling)                                                                   744
Medicare Insurance Agent – Industry-best comp plan, popular carriers                                                 305
Sr. Associate, AI Engineer                                                                                           232
Data Mining/ Jr. Analyst                                                                                             199
Senior Manager - Data Science & Modernization, Automation, Customer MDM Consulting for High-Tech industry sector     182
Laboratory Tech                                                                                                      179
Senior Mechanical Engineer - Mission Critical Facilities                                                             164
Telco-Media Data Science Senior Manager                                                                              156
Senior Civil Engineer - Railroads                                                                                    152
Senior Data Analyst                                                                                                  152
Senior Civil Engineer - Highways                                                                                     151
Senior Electrical Engineer - Global Facilities (Mission Critical)                                                    143
Artificial Intelligence, Senior Consultant - Applied Artificial Intelligence (Full Stack Developer)                  141
Sr. Data Science Engineer                                                                                            140
Machine Learning Engineer                                                                                            128
Senior Electrical Engineer                                                                                           127
Senior Data Scientist and Engineer                                                                                   122
Staff Electrical Engineer - Mission Critical Facilities                                                              119
Manager, Data & Analytics Modeler, Natural Language Processing                                                       114
Applied Artificial Intelligence - Artificial Intelligence - Manager/Architect                                        113
Lead Software Engineer - Distributed Systems                                                                         110
Emissions Analyst/Stack Tester                                                                                       107
Lead Java Engineer - Machine Learning Platform                                                                       101
Senior Consultant, Strategy & Analytics, Analytics & Cognitive                                                       101
AAI – Data Science – Senior Manager                                                                                   99
Senior Manager - Systems Engineering                                                                                  97
Azure Data Architect                                                                                                  95
Civil Construction Inspector Sr                                                                                       94
                                                                                                                    ...
Data Analyst I                                                                                                         4
Industrial Engineer Staff                                                                                              4
SYSTEMS INTEGRATION SPECIALIST - ABBOTT DIAGNOSTICS DIVISION (ADD)                                                     4
Data Research Analyst                                                                                                  4
Sr Mgr-Digital Solutions & Data Analytics                                                                              4
Lead Data Analyst                                                                                                      4
Restaurant Food Safety Scientist                                                                                       3
Senior Data Analyst, Client Integration                                                                                3
Ultimate Hoops Statistician                                                                                            3
Sr. Data Analyst                                                                                                       3
Senior Big Data Operations Engineer                                                                                    3
Statistician                                                                                                           3
Analyst 2 - Reporting & Analytics                                                                                      3
Senior Business Data Analyst                                                                                           3
Research Associate - Genomics Core Laboratory                                                                          3
Technician / Inspector                                                                                                 3
Certifying Scientist                                                                                                   2
Data Product Manager                                                                                                   2
Data Warehouse Analyst-Systems and Data Integration-Analysis                                                           2
Industrial Engineer Senior                                                                                             2
F-35 Fleet Tracking Engineer (Data Analysis)                                                                           2
Splunk Engineer/Architect-Arlington, TX                                                                                1
Splunk Engineer/Architect-Dallas, TX                                                                                   1
Senior Healthcare Data Analyst                                                                                         1
Quantitative Risk Analyst I                                                                                            1
2019 FALL Internship - SPORTS SCIENCE & DATA ANALYTICS                                                                 1
Department Data Analyst Sr.                                                                                            1
Sr Research Compliance Analyst                                                                                         1
Population Science Data Analyst II                                                                                     1
Population Science Data Analyst I                                                                                      1
Name: job_title, Length: 423, dtype: int64